<mat-toolbar color="primary">
    <span>Cinema Cidenet</span>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Cartelera</button>
    <button mat-button routerLink="/film"> Administrar Peliculas</button>
    <button mat-button>Lista de Reservas</button>
    <span class="example-spacer"></span>

    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>